<!DOCTYPE html>
<html lang="en">
   <!-- BEGIN: Head -->
   <head>
      <meta charset="utf-8">
      <link href="static/images/favicon.png" rel="shortcut icon">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="author" content="">
      <title>Edit Project</title>
      <!-- BEGIN: CSS Assets-->
      <link rel="stylesheet" href="../static/css/app.css" />
      <link rel="stylesheet" href="../static/css/custom.css" />
      <!-- END: CSS Assets-->
   </head>
   <!-- END: Head -->
   <body class="app">
      <!-- BEGIN: Mobile Menu -->
      <div class="mobile-menu md:hidden">
         <div class="mobile-menu-bar">
            <a href="" class="flex mr-auto">
            <img alt="360DigiTMG CRM" src="../static/images/AISpry-white-01.png">
            </a>
            <a href="javascript:;" id="mobile-menu-toggler"> <i data-feather="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>	
         </div>
         <!-- <h3 class="use-sec">Admin</h3> -->
         <ul class="border-t border-theme-24 py-5 hidden">
            <li>
               <a href="/dashboard" class="menu">
                  <div class="menu__icon"> <i data-feather="home"></i> </div>
                  <div class="menu__title"> Dashboard </div>
               </a>
            </li>
            <li>
               <a href="/users" class="menu">
                  <div class="menu__icon"> <i data-feather="users"></i> </div>
                  <div class="menu__title"> Users </div>
               </a>
            </li>
            <li>
               <a href="/projects" class="menu menu--active">
                  <div class="menu__icon"> <i data-feather="briefcase"></i> </div>
                  <div class="menu__title"> Projects </div>
               </a>
            </li>
            {% if role in ['admin','lead'] %}
            <li>
               <a href="/leave" class="menu">
                  <div class="menu__icon"> <i data-feather="calendar"></i> </div>
                  <div class="menu__title"> Leave </div>
               </a>
            </li>
            {% endif %}
            <!-- <li>
               <a href="user-management.html" class="menu">
                  <div class="menu__icon"> <i data-feather="users"></i> </div>
                  <div class="menu__title"> User Management </div>
               </a>
            </li>
            <li>
               <a href="javascript:;" class="menu">
                  <div class="menu__icon"> <i data-feather="layout"></i> </div>
                  <div class="menu__title"> FMS <i data-feather="chevron-down" class="menu__sub-icon"></i> </div>
               </a>
               <ul class="">
                  <li>
                     <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="menu__title"> Course <i data-feather="chevron-down" class="menu__sub-icon"></i> </div>
                     </a>
                     <ul class="">
                        <li>
                           <a href="#" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Course Structure</div>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Course</div>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="menu__title"> Macrom <i data-feather="chevron-down" class="menu__sub-icon"></i> </div>
                     </a>
                     <ul class="">
                        <li>
                           <a href="new-art-request.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">New Art Request</div>
                           </a>
                        </li>
                        <li>
                           <a href="general-artwork.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">General Artwork</div>
                           </a>
                        </li>
                        <li>
                           <a href="business-card.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Business Card</div>
                           </a>
                        </li>
                        <li>
                           <a href="360-logo-user-manual.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">360 Logo User Manual</div>
                           </a>
                        </li>
                        <li>
                           <a href="company-profile.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">360 Profile</div>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Blog</div>
                           </a>
                        </li>
                        <li>
                           <a href="formats.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Formats</div>
                           </a>
                        </li>
                        <li>
                           <a href="external-certification.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">External Certification</div>
                           </a>
                        </li>
                        <li>
                           <a href="course-pricing-list.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Course Pricing List</div>
                           </a>
                        </li>
                        <li>
                           <a href="digital-marketing-request.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Digital Marketing Request Form</div>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Promotional Videos</div>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="menu__title"> Technical <i data-feather="chevron-down" class="menu__sub-icon"></i> </div>
                     </a>
                     <ul class="">
                        <li>
                           <a href="resource-request.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Resource Request Form</div>
                           </a>
                        </li>
                        <li>
                           <a href="it-infrastructure.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">IT Infrastructure</div>
                           </a>
                        </li>
                        <li>
                           <a href="internal-trainer-certification.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Internal Trainer Certification</div>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Product Demo</div>
                           </a>
                        </li>
                        <li>
                           <a href="course-broucher.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Course Broucher</div>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="menu__title"> Logistic <i data-feather="chevron-down" class="menu__sub-icon"></i> </div>
                     </a>
                     <ul class="">
                        <li>
                           <a href="lms-request.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">LMS Request Form</div>
                           </a>
                        </li>
                        <li>
                           <a href="startup-kit.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Start-up kit Form</div>
                           </a>
                        </li>
                        <li>
                           <a href="marchantise-request.html" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Marchantise Request Form</div>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="menu__title"> HR <i data-feather="chevron-down" class="menu__sub-icon"></i> </div>
                     </a>
                     <ul class="">
                        <li>
                           <a href="#" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">List of Holidays</div>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Customer feedBack Form</div>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="menu">
                              <div class="menu__icon"> <i data-feather="zap"></i> </div>
                              <div class="menu__title">Conditional Offer Letter</div>
                           </a>
                        </li>
                     </ul>
                  </li>
               </ul>
            </li> -->
         </ul>
      </div>
      <!-- END: Mobile Menu -->
      <div class="flex">
         <!-- BEGIN: Side Menu -->
         <nav class="side-nav">
            <a href="" class="intro-x flex items-center pl-5">
               <img alt="360DigiTMG CRM"  src="../static/images/AISpry-white-01.png">
               <!-- <span class="hidden xl:block text-white text-lg ml-3"> 360DigiTMG <span class="font-medium">one</span> </span> class="w-6"-->
            </a>
            <!-- <h3 class="use-sec">Admin</h3> -->
            <div class="side-nav__devider my-6"></div>
            <ul>
               <li>
                  <a href="/admin" class="side-menu ">
                     <div class="side-menu__icon"> <i data-feather="home"></i> </div>
                     <div class="side-menu__title">Dashboard </div>
                  </a>
               </li>
               {% if role == 'lead' %}
               <li>
                  <a href="/dashboard" class="side-menu">
                     <div class="side-menu__icon"> <i data-feather="user"></i> </div>
                     <div class="side-menu__title"> My Dashboard </div>
                  </a>
               </li>
               {% endif %}
               {% if role == 'admin' %}
               <li>
                  <a href="/users" class="side-menu">
                     <div class="side-menu__icon"> <i data-feather="users"></i> </div>
                     <div class="side-menu__title"> Users </div>
                  </a>
               </li>
               {% endif %}
               <li>
                  <a href="/projects" class="side-menu side-menu--active">
                     <div class="side-menu__icon"> <i data-feather="briefcase"></i> </div>
                     <div class="side-menu__title"> Projects </div>
                  </a>
               </li>
               {% if role in ['admin','lead'] %}
               <li>
                  <a href="/leave" class="side-menu">
                     <div class="side-menu__icon"> <i data-feather="calendar"></i> </div>
                     <div class="side-menu__title"> Leave </div>
                  </a>
               </li>
               {% endif %}
               <!-- <li>
                  <a href="user-management.html" class="side-menu">
                     <div class="side-menu__icon"> <i data-feather="users"></i> </div>
                     <div class="side-menu__title"> User Management </div>
                  </a>
               </li>
               <li>
                  <a href="javascript:;" class="side-menu">
                     <div class="side-menu__icon"> <i data-feather="layout"></i> </div>
                     <div class="side-menu__title"> FMS <i data-feather="chevron-down" class="side-menu__sub-icon"></i> </div>
                  </a>
                  <ul class="">
                     <li>
                        <a href="javascript:;" class="side-menu">
                           <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                           <div class="side-menu__title"> Course <i data-feather="chevron-down" class="side-menu__sub-icon"></i> </div>
                        </a>
                        <ul class="">
                           <li>
                              <a href="#" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Course Structure</div>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Course</div>
                              </a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="javascript:;" class="side-menu">
                           <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                           <div class="side-menu__title"> Macrom <i data-feather="chevron-down" class="side-menu__sub-icon"></i> </div>
                        </a>
                        <ul class="">
                           <li>
                              <a href="new-art-request.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">New Art Request</div>
                              </a>
                           </li>
                           <li>
                              <a href="general-artwork.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">General Artwork</div>
                              </a>
                           </li>
                           <li>
                              <a href="business-card.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Business Card</div>
                              </a>
                           </li>
                           <li>
                              <a href="360-logo-user-manual.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">360 Logo User Manual</div>
                              </a>
                           </li>
                           <li>
                              <a href="company-profile.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">360 Profile</div>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Blog</div>
                              </a>
                           </li>
                           <li>
                              <a href="formats.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Formats</div>
                              </a>
                           </li>
                           <li>
                              <a href="external-certification.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">External Certification</div>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Course Pricing List</div>
                              </a>
                           </li>
                           <li>
                              <a href="digital-marketing-request.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Digital Marketing Request Form</div>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Promotional Videos</div>
                              </a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="javascript:;" class="side-menu">
                           <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                           <div class="side-menu__title"> Technical <i data-feather="chevron-down" class="side-menu__sub-icon"></i> </div>
                        </a>
                        <ul class="">
                           <li>
                              <a href="resource-request.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Resource Request Form</div>
                              </a>
                           </li>
                           <li>
                              <a href="it-infrastructure.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">IT Infrastructure</div>
                              </a>
                           </li>
                           <li>
                              <a href="internal-trainer-certification.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Internal Trainer Certification</div>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Product Demo</div>
                              </a>
                           </li>
                           <li>
                              <a href="course-broucher.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Course Broucher</div>
                              </a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="javascript:;" class="side-menu">
                           <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                           <div class="side-menu__title"> Logistic <i data-feather="chevron-down" class="side-menu__sub-icon"></i> </div>
                        </a>
                        <ul class="">
                           <li>
                              <a href="lms-request.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">LMS Request Form</div>
                              </a>
                           </li>
                           <li>
                              <a href="startup-kit.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Start-up kit Form</div>
                              </a>
                           </li>
                           <li>
                              <a href="marchantise-request.html" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Marchantise Request Form</div>
                              </a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="javascript:;" class="side-menu">
                           <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                           <div class="side-menu__title"> HR <i data-feather="chevron-down" class="side-menu__sub-icon"></i> </div>
                        </a>
                        <ul class="">
                           <li>
                              <a href="#" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">List of Holidays</div>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Customer feedBack Form</div>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="side-menu">
                                 <div class="side-menu__icon"> <i data-feather="zap"></i> </div>
                                 <div class="side-menu__title">Conditional Offer Letter</div>
                              </a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </li> -->
            </ul>
         </nav>
         <!-- END: Side Menu -->
         <!-- BEGIN: Content -->
         <div class="content">
            <!-- BEGIN: Top Bar -->
            <div class="top-bar">
               <!-- BEGIN: Breadcrumb -->
               <div class="-intro-x breadcrumb mr-auto hidden sm:flex"> <a href="/dashboard" class="">Dashboard</a><i data-feather="chevron-right" class="breadcrumb__icon"></i> <a href="/projects" class="">Projects</a> <i data-feather="chevron-right" class="breadcrumb__icon"></i> <a href="" class="breadcrumb--active">View/Edit</a> </div>
                    <!-- END: Breadcrumb -->
               <!-- BEGIN: Search -->
               <div class="intro-x relative mr-3 sm:mr-6">
                  <!-- <div class="search hidden sm:block">
                     <input type="text" class="search__input input placeholder-theme-13" placeholder="Search...">
                     <i data-feather="search" class="search__icon"></i> 
                     </div> -->
                  <!-- <a class="notification sm:hidden" href=""> <i data-feather="search" class="notification__icon"></i> </a>
                     <div class="search-result">
                         <div class="search-result__content">
                             <div class="search-result__content__title">Pages</div>
                             <div class="mb-5">
                                 <a href="" class="flex items-center">
                                     <div class="w-8 h-8 bg-theme-18 text-theme-9 flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-feather="inbox"></i> </div>
                                     <div class="ml-3">Mail Settings</div>
                                 </a>
                                 <a href="" class="flex items-center mt-2">
                                     <div class="w-8 h-8 bg-theme-17 text-theme-11 flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-feather="users"></i> </div>
                                     <div class="ml-3">Users & Permissions</div>
                                 </a>
                                 <a href="" class="flex items-center mt-2">
                                     <div class="w-8 h-8 bg-theme-14 text-theme-10 flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-feather="credit-card"></i> </div>
                                     <div class="ml-3">Transactions Report</div>
                                 </a>
                             </div>
                             <div class="search-result__content__title">Users</div>
                             <div class="mb-5">
                                 <a href="" class="flex items-center mt-2">
                                     <div class="w-8 h-8 image-fit">
                                         <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="assets/images/profile-8.jpg">
                                     </div>
                                     <div class="ml-3">Bruce Willis</div>
                                     <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">brucewillis@gmail.com</div>
                                 </a>
                                 <a href="" class="flex items-center mt-2">
                                     <div class="w-8 h-8 image-fit">
                                         <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="assets/images/profile-8.jpg">
                                     </div>
                                     <div class="ml-3">Edward Norton</div>
                                     <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">edwardnorton@gmail.com</div>
                                 </a>
                                 <a href="" class="flex items-center mt-2">
                                     <div class="w-8 h-8 image-fit">
                                         <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="assets/images/profile-8.jpg">
                                     </div>
                                     <div class="ml-3">Keanu Reeves</div>
                                     <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">keanureeves@gmail.com</div>
                                 </a>
                                 <a href="" class="flex items-center mt-2">
                                     <div class="w-8 h-8 image-fit">
                                         <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="assets/images/profile-9.jpg">
                                     </div>
                                     <div class="ml-3">Tom Hanks</div>
                                     <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">tomhanks@gmail.com</div>
                                 </a>
                             </div>
                             <div class="search-result__content__title">Products</div>
                             <a href="" class="flex items-center mt-2">
                                 <div class="w-8 h-8 image-fit">
                                     <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="assets/images/preview-15.jpg">
                                 </div>
                                 <div class="ml-3">Nike Air Max 270</div>
                                 <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">Sport &amp; Outdoor</div>
                             </a>
                             <a href="" class="flex items-center mt-2">
                                 <div class="w-8 h-8 image-fit">
                                     <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="assets/images/preview-7.jpg">
                                 </div>
                                 <div class="ml-3">Nikon Z6</div>
                                 <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">Photography</div>
                             </a>
                             <a href="" class="flex items-center mt-2">
                                 <div class="w-8 h-8 image-fit">
                                     <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="assets/images/preview-14.jpg">
                                 </div>
                                 <div class="ml-3">Samsung Galaxy S20 Ultra</div>
                                 <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">Smartphone &amp; Tablet</div>
                             </a>
                             <a href="" class="flex items-center mt-2">
                                 <div class="w-8 h-8 image-fit">
                                     <img alt="Midone Tailwind HTML Admin Template" class="rounded-full" src="assets/images/preview-4.jpg">
                                 </div>
                                 <div class="ml-3">Apple MacBook Pro 13</div>
                                 <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">PC &amp; Laptop</div>
                             </a>
                         </div>
                     </div> -->
               </div>
               <!-- END: Search -->
               <!-- BEGIN: Account Menu -->
               <div class="intro-x dropdown w-8 h-8 relative">
                  <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in">
                     <img alt="Midone Tailwind HTML Admin Template" src="{{ url_for('static', filename='images/logout.png') }}">
                  </div>
                  <div class="dropdown-box mt-10 absolute w-56 top-0 right-0 z-20">
                            <div class="dropdown-box__content box bg-theme-38 text-white">
                                <!-- <div class="p-4 border-b border-theme-40">
                                    <div class="font-medium">User Name</div>
                                    <div class="text-xs text-theme-41">Backend Engineer</div>
                                </div>
                                <div class="p-2">
                                    <a href="/profile" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md"> <i data-feather="user" class="w-4 h-4 mr-2"></i> Profile </a>
                                    <a href="profile-edit.html#password" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md"> <i data-feather="lock" class="w-4 h-4 mr-2"></i> Reset Password </a>
                                </div> -->
                                <div class="p-2 border-t border-theme-40">
                                 <a href="/logout" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md"> <i data-feather="toggle-right" class="w-4 h-4 mr-2"></i> Logout </a>
                             </div>
                            </div>
                        </div>
               </div>
               <!-- END: Account Menu -->
            </div>
            <!-- END: Top Bar -->
         <form action="/updateProject" method="POST">
            
            <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
                     <h2 class="csh3 text-lg font-semibold mr-auto">
                        Update Project Details
                     </h2>
                     <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
                           <a href="/projects" class="button bg-theme-8 shadow-md mr-2">Back</a>      
                     </div>
                  </div>
               <div class="grid grid-cols-12 gap-12 mt-5">
                  <div class="intro-y col-span-12 lg:col-span-12">
                     <!-- BEGIN: Form Validation -->
                     <div class="intro-y box">
                        <div class="p-5">
                           <div class="preview">
                              <form class="from">
                                 <div class="grid grid-cols-12 gap-6">
                               
                        <!-- <div class="col-span-12 lg:col-span-12">
                        <h3 class="csh3">Client Details :</h3>
                        </div> -->
                                    {% if role == 'admin' %}
                                    <div class="col-span-12 lg:col-span-4">
                                       <div>
                                          <label class="flex flex-col sm:flex-row"> Client Name </label>
                                          <select class="input w-full border mt-2" aria-label="Default select example" name ="client_name" required>
                                            <option selected>{{project[2]}}</option>
                                            {% for client in clients %}
                                                <option value="{{client}}">{{client}}</option>
                                            {% endfor %}
                                        </select>
                                          <!-- <select class="form-control" aria-label="Default select example" name ="client_name" required> -->
                                       </div>
                                    </div>
                                    <div class="col-span-12 lg:col-span-4">
                                       <div>
                                          <label class="flex flex-col sm:flex-row"> Client Location </label>
                                          <input class="input w-full border mt-2" type="text" id="client_location" name="client_location"value="{{project[3]}}" required placeholder="">
                                       </div>
                                    </div>
                           <!-- <div class="col-span-12 lg:col-span-12">
                        <h3 class="csh3  mt-3">Project Details :</h3>
                        </div> -->
                                    <div class="col-span-12 lg:col-span-4">
                                       <div>
                                          <label class="flex flex-col sm:flex-row"> Project Name </label>
                                          <input class="input w-full border mt-2" type="text" id="project_name" name="project_name" value="{{project[1]}}"required>

                                       </div>
                                    </div>
                                    <div class="col-span-12 lg:col-span-4">
                                       <div>
                                          <label class="flex flex-col sm:flex-row"> Project Category </label>
                                          <input class="input w-full border mt-2" type="text" id="project_category" name="project_category"
                                            value="{{project[5]}}" required>
                                       </div>
                                    </div>
                                    {% endif %}
                                    <div class="col-span-12 lg:col-span-4">
                                       <div>
                                          <label class="flex flex-col sm:flex-row"> Project Goal </label>
                                          <input class="input w-full border mt-2" type="text" id="project_goal" name="project_goal" value="{{project[9]}}"required>
                                       </div>
                                    </div>
                                    <div class="col-span-12 lg:col-span-4">
                                       <div>
                                          <label class="flex flex-col sm:flex-row"> Business Problem </label>
                                          <input class="input w-full border mt-2" type="text" id="business_problem" name="business_problem"
                                          value="{{project[8]}}" required>
                                       </div>
                                    </div>
                                    <div class="col-span-12 lg:col-span-4">
                                       <div>
                                          <label class="flex flex-col sm:flex-row"> Business Success Criteria </label>
                                          <input class="input w-full border mt-2" type="text" id="business_success_criteria" name="business_success_criteria" value="{{project[10]}}" required>
                                       </div>
                                    </div>
                                    <div class="col-span-12 lg:col-span-4">
                                       <div>
                                          <label class="flex flex-col sm:flex-row"> ML Success Criteria </label>
                                          <input class="input w-full border mt-2" type="text" id="ml_success_criteria" name= "ml_success_criteria" value="{{project[11]}}" required>
                                       </div>
                                    </div>
                                    <div class="col-span-12 lg:col-span-4">
                                       <div>
                                          <label class="flex flex-col sm:flex-row"> Economic Success Criteria </label>
                                          <input class="input w-full border mt-2" type="text" id="economic_success_criteria" name="economic_success_criteria" value="{{project[12]}}" required>
                                       </div>
                                    </div>
                                    {% if role == 'admin' %}
                                    <div class="col-span-12 lg:col-span-4">
                                       <div>
                                          <label class="flex flex-col sm:flex-row"> Primary Resource </label>
                                          <select class="input w-full border mt-2" aria-label="Default select example" name="primary_resource" required>
                                            <option selected>{{project[6]}}</option>
                                            {% for lead in leads %}
                                                <option value="{{lead}}">{{lead}}</option>
                                            {% endfor %}
                                        </select>  
                                       </div>
                                    </div>
                                    {% endif %}
                                    <div class="col-span-12 lg:col-span-4">
                                       <div>
                                          <label class="flex flex-col sm:flex-row"> Backup Resource </label>
                                          <input class="input w-full border mt-2" aria-label="Default select example" name="backup_resource" required>
                                       </div>
                                    </div>
                                    <div class="col-span-12 lg:col-span-4">
                                       <div>
                                           <label class="flex flex-col sm:flex-row"> Project Status </label>
                                           <select class="input w-full border mt-2" aria-label="Default select example" name="project_status" required>
                                             <option value="Active" title="The project is currently being worked on">Active</option>
                                             <option value="Completed" title="The project is finished and all tasks have been completed">Completed</option>
                                             <option value="Cancelled" title="The project is no longer active and work on it will not continue">Cancelled</option>
                                             <option value="On Hold" title="The project is not finished and work on it has been temporarily suspended (needs Client Approval)">On Hold</option>
                                             <option value="Upcoming" title="The project is still under review by a client">Upcoming</option>
                                             <option value="Pending" title="The project has been approved and started but needs to pause work temporarily">Pending</option>
                                             <option value="Overdue" title="The project is still in progress but the deadline for completion has passed">Overdue</option>
                                             <option value="Not Started" title="The project is approved but has not been started yet">Not Started</option>
                                             <option value="Priority" title="The project should be addressed immediately before other projects">Priority</option>
                                           </select>
                                       </div>
                                   </div>                                   
                                   <!-- Tooltip functionality -->
                                   <script>
                                       const selectElement = document.getElementById('project-status');
                                   
                                       selectElement.addEventListener('mouseover', function (event) {
                                           const option = event.target;
                                           if (option.tagName === 'OPTION') {
                                               // Show the tooltip with the title attribute of the option
                                               const tooltipText = option.getAttribute('title');
                                               option.setAttribute('data-tooltip', tooltipText);
                                           }
                                       });
                                   
                                       selectElement.addEventListener('mouseout', function (event) {
                                           const option = event.target;
                                           if (option.tagName === 'OPTION') {
                                               // Hide tooltip on mouse out
                                               option.removeAttribute('data-tooltip');
                                           }
                                       });
                                   </script>
                                   
                                   <!-- Basic CSS for styling tooltips -->
                                   <style>
                                       [data-tooltip]::after {
                                           content: attr(data-tooltip);
                                           position: absolute;
                                           background-color: #333;
                                           color: #fff;
                                           padding: 4px 8px;
                                           border-radius: 4px;
                                           white-space: nowrap;
                                           transform: translateY(-150%);
                                           opacity: 0;
                                           transition: opacity 0.2s ease-in-out;
                                       }
                                   
                                       [data-tooltip]:hover::after {
                                           opacity: 1;
                                       }
                                   </style>
                                    {% if role == 'admin' %}
                                    <div class="col-span-12 lg:col-span-4">
                                       <div>
                                          <label class="flex flex-col sm:flex-row"> Project Start Date </label>
                                          <input type="date" id="start_date" name="start_date" class="input w-full border mt-2" placeholder="">
                                       </div>
                                    </div>
                                    <div class="col-span-12 lg:col-span-4">
                                          <div>
                                             <label class="flex flex-col sm:flex-row"> Project End Date </label>
                                             <input type="date" id="end_date" name="end_date" class="input w-full border mt-2" placeholder="">
                                          </div>
                                    </div>
                                    
                                    <script>
                                          document.addEventListener('DOMContentLoaded', function() {
                                             const startDateInput = document.getElementById('start_date');
                                             const endDateInput = document.getElementById('end_date');
                                    
                                             startDateInput.addEventListener('change', function() {
                                                endDateInput.min = startDateInput.value;
                                             });
                                          });
                                    </script>
                                    {% endif %}
                                 </div>
                                 <input class="form-control" type="text" id="id" name="id" value="{{project[0]}}" hidden>
                                 <button type="submit" class="button bg-theme-1 text-white mt-5">Submit</button>
                              </form>
                           </div>
                        </div>
                     </div>
                     <!-- END: Form Validation -->
                  </div>
               </div>
            </div>
         </form>
         <!-- END: Content -->
      </div>
      <!-- BEGIN: JS Assets-->
      <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=["your-google-map-api"]&libraries=places"></script>
      <script src="{{ url_for('static', filename='js/app.js') }}"></script>
      <!-- END: JS Assets-->
   </body>
</html>